<div class="container">
  <form  [formGroup]="loginForm" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="cuenta" class="form-label">Cuenta</label>
      <input type="text" class="form-control" id="cuenta" formControlName="cuenta">
    </div>
    <div class="mb-3">
      <label for="clave" class="form-label">Clave</label>
      <input type="password" class="form-control" id="clave" formControlName="clave">
    </div>

    <div class="mb-3">
      <label for="company" class="form-label">Compañía</label>
      <div class="justify-content-center">
        <p-dropdown [options]="companies" optionLabel="name" formControlName="company" [showClear]="true"
          placeholder="Seleccione una compañía">
        </p-dropdown>
        <!-- <button (click)="pintar()">test</button> -->
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Ingresar</button>
  </form>

</div>
