html, body {
  height: 100%;
  margin: 0;

}
.col-md-6 .image {
  background-image: url('../../../../../assets/img/LogoSGCAN (horizontal).png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  margin-bottom: 1rem;
}
.btn{
  background-color: rgb(10, 74, 134);
}
.form-container .logo {
  background-image: url('../../../../../assets/img/LogoSGCAN (vertical).png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8rem; /* Ajusta la altura según tus necesidades */
  width: 10rem; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left-side img {
  width: 150px;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.form-container img {
  display: block;
  margin: 0 auto 1rem;
  width: 100px;
}

h5, p, a {
  text-align: center;
}

.btn-primary {
  display: block;
  width: 100%;
}
