// .container {
//   padding-top: 16rem; /* Maintain the padding for larger screens */
// }

// @media (max-width: 768px) { /* Adjust the breakpoint as needed */
//   .container {
//     padding-top: 2rem; /* Reduced padding for smaller screens */
//   }
// }
// .text-extra-small {
//   font-size: .75rem;
// }

// .text-extra-small {
//   font-size: .75rem;
// }

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #c9a81f;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  button {
    width: 100%;
  }
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
  }

  select:focus {
    border-color: #007bff;
    outline: none;
  }

