/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* Importar Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";

  .main-content {
    display: flex;
    // flex-direction: column;
    height: 92vh;
    // overflow: hidden;
  }

  .sidenav-container {
    flex: 1;
  }

  mat-sidenav {
    width: 100%;
  }

  mat-sidenav-content {
    padding: 3px;
  }

  .content {
    padding: 12px;
    background-color: #ffe4bb59;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    box-sizing: border-box;

}

/* Media queries para diferentes tamaños de pantalla */
// @media (max-width: 100px) {
//     .content {
//         padding: 16px;
//     }
// }

  mat-toolbar {
    padding: 0 10px;
    background-color: #3f51b5;
    color: #fff;
  }

  mat-toolbar span {
    font-size: 18px;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    mat-sidenav {
      width: 100px;
    }
   .content {
      padding: 8px;
    }
    mat-toolbar {
      padding: 0 10px;
    }
  }

  @media (max-width: 480px) {
    mat-sidenav {
      width: 150px;
    }
   .content {
      padding: 2px;
    }
    mat-toolbar {
      padding: 0 5px;
    }
  }


  .sticky-toolbar {
    z-index: 1000;
    position: sticky;
    top: 0;
  }

